In [14]:
#pandas
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [15]:
import pandas as pd
emp=pd.Series(['Dharan','Sudeep','Siva','Yash'])
id=pd.Series([10,20,30,40])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to DataFrame\n")
print(result)

Series to DataFrame

      Emp  ID
0  Dharan  10
1  Sudeep  20
2    Siva  30
3    Yash  40

In [16]:
print("\n Extracting one column \n")
print(result['Emp'])

 Extracting one column

0    Dharan
1    Sudeep
2      Siva
3      Yash
Name: Emp, dtype: object

In [18]:
import pandas as pd
print("\n Adding one column\n")
result['ID']=pd.Series([80,90,28,56])
result['AGE']=pd.Series([19,90,34,67])
print(result)

 Adding one column

      Emp  ID  AGE
0  Dharan  80   19
1  Sudeep  90   90
2    Siva  28   34
3    Yash  56   67

In [20]:
print("\n Deleting new column:\n")
del result['AGE']
print(result)

 Deleting new column:

      Emp  ID
0  Dharan  80
1  Sudeep  90
2    Siva  28
3    Yash  56

In [21]:
print("\n Extracting the second row:\n")
print(result.loc[1])

 Extracting the second row:

Emp    Sudeep
ID         90
Name: 1, dtype: object

In [22]:
print("slice:\n",result[1:4])

slice:
       Emp  ID
1  Sudeep  90
2    Siva  28
3    Yash  56

In [29]:
d2=pd.DataFrame([['vijay',100],['rashid',[112]]],columns=['Emp','ID'])
print("\n adding new row values:\n",pd.concat([result,d2]))

 adding new row values:
       Emp     ID
0  Dharan     80
1  Sudeep     90
2    Siva     28
3    Yash     56
0   vijay    100
1  rashid  [112]

In [27]:
print("\n Deleting Particular row:\n",result.drop(2))

 Deleting Particular row:
       Emp  ID
0  Dharan  80
1  Sudeep  90
3    Yash  56