In [2]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original DataFrame:\n",info)
print("\n Square root:\n",info.apply(np.sqrt))
print("\n Sum of each column:\n",info.apply(np.sum,axis=0))
print("\n Sum of each row:\n",info.apply(np.sum,axis=1))

 Original DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Square root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sum of each column:
 S    12
R    36
dtype: int64

 Sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [1]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [5]:
import pandas as pd
import numpy as np
d2=pd.DataFrame([['Yasir',10],['Miru',20]],columns=['EmpName','ID'])
print(d2)
d2['Age']=[20,18]
print("\n Adding new column:\n",d2)
d2['Sex']=['Male','Female']
print("Adding new column:\n",d2)

  EmpName  ID
0   Yasir  10
1    Miru  20

 Adding new column:
   EmpName  ID  Age
0   Yasir  10   20
1    Miru  20   18
Adding new column:
   EmpName  ID  Age     Sex
0   Yasir  10   20    Male
1    Miru  20   18  Female

In [6]:
#to add a new column
import pandas as pd
import numpy as np
d2=pd.DataFrame([['Yasir',10],['Miru',20]],columns=['EmpName','ID'])
print(d2)
a=d2.assign(Age=[20,18])
print("Adding a new column:\n",a)

  EmpName  ID
0   Yasir  10
1    Miru  20
Adding a new column:
   EmpName  ID  Age
0   Yasir  10   20
1    Miru  20   18

In [10]:
import pandas as pd
import numpy as np
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col1','col2'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col2')
print(info3)

       col1      col2
3 -0.103291  0.466350
2 -1.398503 -0.732093
0 -0.150257  1.823246
4  2.304668  1.106610
1 -0.216648 -1.216391
       col1      col2
0 -0.150257  1.823246
1 -0.216648 -1.216391
2 -1.398503 -0.732093
3 -0.103291  0.466350
4  2.304668  1.106610
       col1      col2
1 -0.216648 -1.216391
2 -1.398503 -0.732093
3 -0.103291  0.466350
4  2.304668  1.106610
0 -0.150257  1.823246

In [1]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'id':[1,2,3,4],'Name':['Apple','Ball','Cat','Dog'],'sub':['sub1','sub2','sub4','sub3']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['Winter','Summer','Monsoon','Spring'],'sub':['sub2','sub4','sub3','sub5']})
print(left)
print(right)
print(pd.merge(left,right,on='id'))

   id   Name   sub
0   1  Apple  sub1
1   2   Ball  sub2
2   3    Cat  sub4
3   4    Dog  sub3
   id     Name   sub
0   1   Winter  sub2
1   2   Summer  sub4
2   3  Monsoon  sub3
3   4   Spring  sub5
   id Name_x sub_x   Name_y sub_y
0   1  Apple  sub1   Winter  sub2
1   2   Ball  sub2   Summer  sub4
2   3    Cat  sub4  Monsoon  sub3
3   4    Dog  sub3   Spring  sub5